@media screen and (max-width: 991px) {
    .nav-toggle {
        display: block;
        margin-right: 20px;
        font-weight: 1000;
        color: black;
        cursor: pointer;
    }

    .nav_bar {
        /* display: none;
         */
         background-color: black;
         position: absolute;
         left: -100%;
         top: 100%;
         width: 100%;
         padding-block: 20px;
         transition: 0.2s ease-in-out;
    }

    .nav_bar.active{
        left: 0;
        display: block;
    }

    .nav_bar ul{
        display: flex;
        flex-direction: column;
    }

    .nav_bar.active {
        display: block;
    }

    .organisers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* overflow: hidden; */
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1190px) {
    .logo_text {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .organisers{
        display: flex;
        /* flex-direction: row; */
    }

    .nsut {
        width: 100px;
        height: 100px;
    }

    .meit {
        width: 200px;
        height: 100px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .name_bio {
        text-align: justify;
        text-align-last: center;
        margin: 0;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        text-align: center;
        overflow-wrap: break-word;
    }

    .name_bio h1, .name_bio h4, .name_bio p {
        margin: 5px;
    }

    .speaker_bio {
        text-align: justify;
        text-align-last: center;
        margin: 0;
        padding: 5px;
    }

    .card_image {
        height: auto;
        width: 80%;
    }

    .event_map {
        width: 100%;
    }

    iframe {
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 5px;
        width: 100%;
        height: auto;
    }

    .event_location {
        text-align: center;
    }

    
}
